/* -------------------------------------------------------------------------------- */
/* | FONT | */
/* --------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* -------------------------------------------------------------------------------- */
/* | BODY | */
/* --------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: cover;
  background: rgba(25, 80, 143, 0.815);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* -------------------------------------------------------------------------------- */
/* | LOGIN BACKGROUND | */
/* --------------------------------------------------------------------------------- */

.login {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #e4ac43, #8a6413);
  background: linear-gradient(to right, #1eb7e6, #327ee2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  padding: 50px 40px;
  border-radius: 10px;
  max-width: 450px;
  width: calc(100% - 20px);
}

/* -------------------------------------------------------------------------------- */
/* | LOGIN TITLE | */
/* --------------------------------------------------------------------------------- */

.login h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  font-weight: 5rem;
  margin-top: 20px;
  text-align: center;
  margin: 20px 2px 50px 4px;
}

.stan {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 5rem;
  margin-top: 20px;
  text-align: center;
  margin: 20px 2px 50px 4px;
}

/* -------------------------------------------------------------------------------- */
/* | TEXT LOGIN | */
/* --------------------------------------------------------------------------------- */

.text-login {
  position: relative;
  margin-bottom: 12px;
}

.text-login input {
  background-color: #e8f8ff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 70px;
  border: none;
  padding: 14px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
label {
  position: absolute;
  font-weight: 600;
  color: #777777;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: text;
  user-select: none;
  transition: 0.15s ease-in-out;
}

.text-login input[data-empty="false"] + label,
.text-login input:valid + label,
.text-login input:focus + label {
  left: 14px;
  top: 17px;
}

.text-center {
  text-align: center;
}

/* -------------------------------------------------------------------------------- */
/* | SHOW PASSWORD  | */
/* --------------------------------------------------------------------------------- */

.showpass {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #1e13b6;
  font-size: 22px;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
/* | Error  | */
/* --------------------------------------------------------------------------------- */
.error-top {
  margin-top: 30px;
}

.error {
  margin-top: 4px;
}

/* -------------------------------------------------------------------------------- */
/* | Button  | */
/* --------------------------------------------------------------------------------- */

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 1rem;
  color: #e74c3c;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
  text-align: center;
}

.btn-blue {
  border: none;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: rgb(37, 72, 189);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-image: linear-gradient(30deg, #a8d3fc 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.btn-blue:hover {
  color: black;
  background-position: 0;
}

/* -------------------------------------------------------------------------------- */
/* | Register  | */
/* --------------------------------------------------------------------------------- */

.register {
  margin-top: 12px;
  font-weight: 800;
  color: white;
  text-align: center;
}

.register a {
  color: #25e6ff;
}
